*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-image: url(2.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    margin-top: 40px;
}
h1 
{
    font-size: 40px;
    color: black;
    margin-top: 250px;
}
p 
{
    font-size: 17px;
    color:black;
}

.regform 
{
    width: 800px;
    background-color:rgb(0,0,0,0.6);
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}