*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-image: url(2.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: new time roman;
}
h1 
{
    font-size: 40px;
    color: black;
    margin-top: 250px;
}
p 
{
    font-size: 17px;
    color:black;
}

h3
{
    font-size: 25px;
    color:black;
}
.glyphicon-pencil
{
    font-size: 35px;
    color: white;
}
.col-md-5
{
    margin-top: 80px;
    box-shadow: -1px 1px 60px 10px black;
    background: rgba(0,0,0,0.4);
}
.label
{
    font-weight: normal;
    margin-top: 15px;
    color: white;
    font-size: 19px:
}
 