*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #efefef;
}
nav{
    background: #219c2c;
    height: 80px;
    width:100%;
}
label.logo{
    color: white;
    font-size:35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
label.logo:hover{
    text-shadow: 0px 5px 10px black;
    transition: .6s;  
}
nav ul{
    position:absolute;
    /*float: right;*/
    margin-right:20px;
    top: 30px;
    left: 30%;
}
nav ul li{
    position:sticky;
    display: inline-block;
    inline-height:80px;
    margin:0 5px;

}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding:7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: #2acf38;
    transition: .5s; 
}

.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right:40px;
    cursor: pointer;
    display:none;
}

#check{
    display: none;
}
/* phone view */
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size:16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background:#2c3e50;
        top:70px;
        left: -100%;
        text-align:center;
        transition:all .5s;
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size:20px;
    }
    a:hover,a.active{
        background:none;
        color:#2acf38;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/***************Drop down lists******************/

        /*
        .dropbtn {
          background-color: #4CAF50;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }
        */
        .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #2acf38;
            min-width: 160px;
            box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
            z-index: 1;
            font-family: Arial, Helvetica, sans-serif
          }
          
          .dropdown-content a {
            color: rgb(255, 255, 255);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: center;
          }
          
          .dropdown-content a:hover {background-color: #219c2c}
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
  
          a#active_login{
            background: #06380a;
            transition: .5s;
            
          }
          a#active_signup{
            background: #51ee13;
            transition: .5s;
           
          }
       
          a.login_hover:hover{
          color: #2acf38;
          }
          
          a.signup_hover:hover{
          color: #000000;
          }
          
  
  
         /* 
          .dropdown:hover .dropbtn {
            background-color: #3e8e41;
          }
          */



/*search bar */
.search-box{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#219c2c;
    height: 40px;
    border-radius:40px;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;  
}

.search-box:hover > .search-btn{
    background:#2acf38;

}

.search-btn{
    color: white;
    float: right;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background: #219c2c;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.4s;
}

.search-txt{
    border:none;
    background: none;
    outline:none;
    float: left;
    padding:0;
    color:white;
    font-size:16px;
    transition: 0.4s;
    line-height:40px;
    width: 0px; /* if you want big search button fix this to 240px*/
}
/*Search button phone view*/
@media (max-width:952px){
    .search-box{
       display: none;
    }
}

/* Topics*/
.topics{
    position: absolute; 
    top: 150px;
    left: 27%;
    float: none;
    margin:0 auto;
}
.mainTopic{
    font-family: Verdana;
    font-weight: 600;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}

.subtitle{
    font-family: Verdana;
    font-size: 23px;
    color: #ffffff;
    text-align: center;
}
/*
@media (max-width:858px){
   / .topics{
        position: absolute; 
        top: 180px;
        left: 30px;
        float: none;
        margin:0 auto;
    }
    .mainTopic{
        font-family: Verdana;
        font-weight: 600;
        font-size: 40px;
        color: #ffffff;
        text-align: center;
    }
    
    .subtitle{
        font-family: Verdana;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
}  */

/*
section{
    background: url(images/peocock.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    opacity: 85%;
}

*/

/*Slide show*/
slider{
    display:block;
    width:100%;
    height:100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position:absolute;
}
slider > *{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    background-color:#1f1f1f;
    animation: slide 12s infinite;
    overflow:hidden;
    opacity: 50%;
}

/*child 1*/
slide:nth-child(1){
    left:0%;
    animation-delay:-1s;
    background-image: url(images/alla9arch.jpg);
    background-size: cover;
    background-position:center;
    opacity: 50%;
}

/*child 2*/
slide:nth-child(2){
    animation-delay:2s;
    background-image: url(images/beachside.jpg);
    background-size: cover;
    background-position:center;
    opacity: 50%;
}

/*child 3*/
slide:nth-child(3){
    left:0%;
    animation-delay:5s;
    background-image: url(images/peocock.jpg);
    background-size: cover;
    background-position:center;
    opacity: 50%;
}

/*child 4*/
slide:nth-child(4){
    left:0%;
    animation-delay:8s;
    background-image: url(images/sigiriya.jpg);
    background-size: cover;
    background-position:center;
    opacity: 50%;
}

slide p{
    font-family:compressed;
    font-size:70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
}
@keyframes slide {
    0% { left: 100%; width: 100%;}
    5% { left: 0%;}
    25% {left: 0%;}
    30% { left: -100%; width: 100%;}
    30.0001% { left: 100%; width: 0%;}
    100%{ left: 100%; width: 0%;}
}