*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background: #219c2c;
    height: 80px;
    width:100%;
}
label.logo{
    color: white;
    font-size:35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right:20px;
}
nav ul li{
    display: inline-block;
    inline-height:80px;
    margin:0 5px;

}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding:7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: #2acf38;
    transition: .5s; 
}

.checkbtn{
    font-size:30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right:40px;
    cursor: pointer;
    display:none;
}

#check{
    display: none;
}



/*search bar */
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#219c2c;
    height: 40px;
    border-radius:40px;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;  
}

.search-box:hover > .search-btn{
    background:#2acf38;

}

.search-btn{
    color: white;
    float: right;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background: #219c2c;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.4s;
}

.search-txt{
    border:none;
    background: none;
    outline:none;
    float: left;
    padding:0;
    color:rgb(255, 255, 255);
    font-size:16px;
    transition: 0.4s;
    line-height:40px;
    width: 0px; /* if you want big search button fix this to 240px*/
}
 

/* phone view */
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size:16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background:#2c3e50;
        top:80px;
        left: -100%;
        text-align:center;
        transition:all .5s;
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size:20px;
    }
    a:hover,a.active{
        background:none;
        color:#0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* Topics*/
.topics{
    position: absolute; 
    top: 150px;
    left: 27%;
    float: none;
    margin:0 auto;
}
.mainTopic{
    font-family: Verdana;
    font-weight: 600;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}

.subtitle{
    font-family: Verdana;
    font-size: 23px;
    color: #ffffff;
    text-align: center;
}
/*
@media (max-width:858px){
   / .topics{
        position: absolute; 
        top: 180px;
        left: 30px;
        float: none;
        margin:0 auto;
    }
    .mainTopic{
        font-family: Verdana;
        font-weight: 600;
        font-size: 40px;
        color: #ffffff;
        text-align: center;
    }
    
    .subtitle{
        font-family: Verdana;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
}  */

section{
    background: url(images/peocock.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    opacity: 85%;
}

