*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 10px;
	background: #F8F8FF;
}

.header{
	width: 30px;
	margin: white;
	color: white;
	background: :#5F9EA0;
	text-align: center;
	border:1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form{
	width: 30px;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
	
}