body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}
img {width: 100%;}
.card {
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px #000;
    text-align: center;
}
.title {
    color: gray;
    font-size: 20px;
}
.btn {
    width: 100%;
    color: #fff;
    padding: 15px;
    border: none;
    outline: none;
    background: #000;
    font-size: 25px;
    cursor: pointer;
}
.social-media {margin-bottom: 20px;}
.social-media a {
    padding: 10px;
    font-size: 25px;
    color: #000;
}
.btn:hover , .social-media a:hover {
    opacity: 0.5;
}