body{
	background-color: #efefef;
}
.name{
	text-align: center;
}

table,tr, td{
	  border:none;
  		padding: 5px;

}
.table{
width: 100%;
padding-right:0px;
cursor: pointer;


}

.table div{
	transition: transform 1s;
}
.table div:hover{
 	transform: scale(1.07, 1.07);
}

.table h2:hover{
	transform: scale(0.9,0.9);
}

.left{
	height: 500px;
	width: 50%;
}

.right{
	height: 300px;
	width: 25%;
}
.down{
height: 300px;
width: 25%;
}

/**divs **/

.d1{
	background-image: url("images/a.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	box-shadow:  5px 5px 15px rgba(0,0,0,0.9);
}

.d2{
	background-image: url("images/b.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	box-shadow:  5px 5px 15px rgba(0,0,0,0.9);
}

.d3{
	background-image: url("images/c.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	box-shadow:  5px 5px 15px rgba(0,0,0,0.9);
}

.d4{
	background-image: url("images/d.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	box-shadow:  5px 5px 15px rgba(0,0,0,0.9);
}

.d5{
	background-image: url("images/e.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	box-shadow:  5px 5px 15px rgba(0,0,0,0.9);
}

.d6{
	background-image: url("images/f.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	box-shadow:  5px 5px 15px rgba(0,0,0,0.9);
}
.d7{
	background-image: url("images/g.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	box-shadow:  5px 5px 15px rgba(0,0,0,0.9);
}
.d8{
	background-image: url("images/h.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	box-shadow:  5px 5px 15px rgba(0,0,0,0.9);
}
.d9{
	background-image: url("images/i.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	box-shadow:  5px 5px 15px rgba(0,0,0,0.9);
}

/*Topic Div*/

.n1{
	width: 100%;
	
}

.d1 div:hover{
	 transform: scale(1.1, 1.1);
	}