.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding:20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background:#9575cd;
    color:floralwhite;
}

.address{
    font-size: 80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark{
    background-color: #512da8;
}

ol {
    background: linear-gradient(to bottom, rgb(40, 167, 69), rgb(40, 167, 69)) no-repeat 0 0;
    background-size: 500px 0%;
    transition: 1.5s;
    margin:1em;
  }
  
  ol:hover {
    background-size: 500px 100%;
  }

  .content opacity{
      margin: 10em;
  }

  /*********/

.slidesh{
    width: 50%;
    background: red;
}
.d-block w-100{
    height: auto;
}
.map{
  margin: 10px;
}

.divz{
  height: 200px;
}

.copi{
  background: #585858;
  max-width: 100%;
}

#imagex{
  width: auto;
  height: 50px;
}

#imaged{
   width: auto;
  height: 70px; 
}

/***********Login CSS**********/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color:rgba(0,0,0,0.0); /* Black w/ opacity  */
}

/* Modal Content */
.modal-content {
  background-color:white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}