.name{
	text-align: center;
}

table,tr, td{
	  border: 1px solid green;
  		padding: 0px;
}
.table{
width: 100%;

}

.left{
	height: 500px;
	width: 50%;
}

.right{
	height: 300px;
	width: 25%;
}
.down{
height: 300px;
width: 25%;
}

/**divs **/

.d1{
	background-image: url("images/a.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}

.d2{
	background-image: url("images/a.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}

.d3{
	background-image: url("images/a.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;

}

.d4{
	background-image: url("images/a.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}

.d5{
	background-image: url("images/a.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}

.d6{
	background-image: url("images/a.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}
.d7{
	background-image: url("images/a.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}
.d8{
	background-image: url("images/a.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}
.d9{
	background-image: url("images/a.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
}

/*Topic Div*/

.n1{
	opacity: 60%;
	width: 100%;
	background-color: lightgray;
}